@{
    ViewBag.Title = "About Us";
}

<h1>@ViewBag.Title.</h1>
<br /><br />

<div class="imgContainer col-md-12">
    <img class="sectionImage" src="~/Assets/diningArea1.jpg" alt="Alternate Text" />
</div>
<h2>Who We Are</h2>
<h5>Here at Restaurant Rater we thrive on helping others navigate then overwhelming world of cuisine.</h5>
<p>
    It is a large world out there with endless options for satisfying any craving you may have. That should not me that you have to
    settle for the closest, easiest, or cheapest location. Our goal here is to provide the platform for a revolutionary exchange of
    of first-hand experience at any and all dining establishments our friends visit.
</p>
<br />
<br />
<br />

<div class="imgContainer col-md-12">
    <img class="sectionImage" src="~/Assets/equality.jpg" alt="Alternate Text" />
</div>
<h2>What We Stand For</h2>
<h5>We do our best to ensure equality across all aspects of our application.</h5>
<p>
    One of the best things about our diverse culture in America, is that we all have unique experiences to share with others.
    We should also be eager to hear experiences others had. Without actively seeking, or at least being open to new ideas from
    the world around us, it is very difficult to grow.
</p>


