@{
    ViewBag.Title = "Home Page";
}


    <div class="wrapper">

        <div class="jumbotron">
            <img class="img-fluid" src="~/Assets/diningArea2.jpg" alt="Alternate Text" />
        </div>

        <div class="container">
            <div class="row" id="homeCards">
                <div class="card mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-primary" style="text-align: center"><h3>Getting started</h3></div>
                    <div class="card-body">
                        <p style="text-align: left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                            in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <p class="learnMore">
                        <a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                            Learn more
                            <svg class="bi bi-arrow-right-square-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="card mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-primary" style="text-align: center"><h3>Getting started</h3></div>
                    <div class="card-body">
                        <p style="text-align: center">
                            Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Commodo viverra maecenas
                            accumsan lacus. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Viverra maecenas accumsan
                            lacus vel facilisis volutpat est velit. Integer malesuada nunc vel risus commodo viverra maecenas.
                            Turpis in eu mi bibendum neque. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Et
                            netus et malesuada fames.
                        </p>
                    </div>
                    <p class="learnMore">
                        <a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                            Learn more
                            <svg class="bi bi-arrow-right-square-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
                            </svg>
                        </a>
                    </p>
                </div>
                <div class="card mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-primary" style="text-align: center"><h3>Getting started</h3></div>
                    <div class="card-body">
                        <p style="text-align: right">
                            Nascetur ridiculus mus mauris vitae ultricies. Lectus arcu bibendum at varius. Nibh ipsum consequat nisl vel
                            pretium lectus quam id. Vitae semper quis lectus nulla at volutpat diam ut. Dapibus ultrices in iaculis nunc
                            sed augue. Dolor sit amet consectetur adipiscing elit pellentesque. Nec feugiat in fermentum posuere urna nec.
                            Viverra aliquet eget sit amet. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc.
                        </p>
                    </div>
                    <p class="learnMore">
                        <a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                            Learn more
                            <svg class="bi bi-arrow-right-square-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm5.646 10.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L9.793 7.5H5a.5.5 0 0 0 0 1h4.793l-2.147 2.146z" />
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>