
@{
    ViewBag.Title = "Gallery";
}

<h2>Image Gallery</h2>

<div class="container ourTeam">
    <div class="row">
        <div class="card border-primary ourTeam" style="width:400px">
            <img class="card-img-top" src="~/Assets/analise-benevides-wZEf1Y6Kxs0-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
        </div>

        <div class="card border-primary ourTeam" style="width:400px">
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
            <img class="card-img-bottom" src="~/Assets/sazzad-aryan-rjm8go9rL8Y-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card border-primary ourTeam" style="width:400px">
            <img class="card-img-top" src="~/Assets/emrecan-arik-K7fDlscNjFk-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
        </div>

        <div class="card border-primary ourTeam" style="width:400px">
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
            <img class="card-img-bottom" src="~/Assets/devn-TJDvP6xm2Eo-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card border-primary ourTeam" style="width:400px">
            <img class="card-img-top" src="~/Assets/ryan-de-hamer-mjAG6XytTJY-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
        </div>

        <div class="card border-primary ourTeam" style="width:400px">
            <div class="card-body">
                <h4 class="card-title"> John Doe</h4>
                <p class="card-text"> Some example text.</p>
                <a href="#" class="btn btn-primary"> See Profile</a>
            </div>
            <img class="card-img-bottom" src="~/Assets/janko-ferlic-qzDF5PNEWKc-unsplash.jpg" alt="Card image">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/facebook.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/instagram.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/linkedin.svg" alt="Alternate Text" /></a>
                <a href="#" class="btn btn-group"><img class="socialMedia" src="~/Assets/youtube.svg" alt="Alternate Text" /></a>
            </div>
        </div>
    </div>
</div>
