body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar a, .card-header {
    color: white;
}

.jumbotron {
    overflow: hidden;
    padding: 0;
    max-height: 40rem;
    position: center;
}

.jumbotron img{
    width: 100%;
    height: auto;
    max-height: 40rem;
    margin-top: -20%;
}

#homeCards {
    justify-content: space-around;
}

.learnMore {
    display: flex;
    justify-content: center;
}

.imgContainer {
    max-height: 20rem;
    position: relative;
    padding-left: 0;
    overflow: hidden;
}

.sectionImage {
    position: relative;
    width: 100%;
    margin-top: -25%;
}

.ourTeam {
    justify-content: space-around;
}

.ourTeam .card {
    margin: 3rem auto;
}

.socialMediaBtn {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.socialMedia {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin: -1rem auto 1rem;
}